<div class="container">
    <h1> {{'title' | translate : screen : lang }} </h1>
    <form [formGroup]="loginForm">
        <div class="inner-form">
            <mat-form-field>
                <mat-label>{{'userName' | translate : screen : lang }}</mat-label>
                <input matInput type="email" formControlName="userName">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>{{'password' | translate : screen : lang }}</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <br/>
            <button mat-icon-button matSuffix (click)="login()">
                {{'submit' | translate : screen : lang }}
            </button>
        </div>
    </form>
</div>